<<<<<<< HEAD
.heading{
    text-align: center;
    font-weight:600;
   font-size:xx-large; 
   color:rgb(118, 94, 250);
  
}
=======
.heading{
    text-align: center;
    font-weight:600;
   font-size:xx-large; 
   color:rgb(118, 94, 250);
  
}
>>>>>>> 2448b4bb1f1db910687bbd658547e2ca0daae9f7
