*{
    font-family:cursive
    
}
.openingflex{
   height:100px;
   width:100%;
   font-size:xx-large;
   font-weight:bold;
   font-style: italic;
   font-variant: normal;
   color:rgb(183, 64, 64);
   text-align:center;
   padding-top:5%;  
    
}
input{
    grid-column:span 3;
    height:70px;
    text-align:end;
    border-radius: 5px;

}
.calculatorContainer{
                                 
                    display:grid;
                    justify-content:center;
                    align-content:center;
                    grid-template-columns:repeat(3,50px);
                    
                    
                                        
}
button{
    margin:5px;
    border-radius: 5px;
}
