h1{
    display:block;
    background-color:rgb(213, 246, 246);
    text-align:center;
}
form{
    font-size: 20px;
    display:flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    margin-top:50px;
    margin-bottom: 50px;
}

